<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>CREDO GROUP</title>
        <!-- Bootstrap Core CSS -->
        <link href="{{ asset('credo/css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ asset('credo/css/font-awesome.min.css') }}" rel="stylesheet">
        <link rel="stylesheet" href="{{ asset('credo/css/owl-carousel/owl.carousel.css') }}">
        <link href="{{ asset('credo/css/styles.css') }}" rel="stylesheet">
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
      <div class="stripe"></div>
      <div class="top-header hidden-xs">
          <div class="container">
              <div class="row">
                  <div class="col-md-6">
                      <div class="logo">
                          <a href="{{ path('homepage') }}"><img src="{{ asset('credo/img/logo.png') }}" width="300px" height="70px" class="img-responsive" alt="Logo"></a>
                      </div>
                  </div>
                  <div class="col-md-6">
                      <div class="search_div pull-right">
                          <form name="form_search" id="form_search" method="get" action="article.php">
                              <input placeholder="SEARCH HERE ..." class="txtsearch" name="form_search" id="txtsearch" value="" type="text">
                              <button type="submit" class="btn btn-search btn-danger"> <i class="fa fa-search"></i></button>
                          </form>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <!-- Navigation -->
      <header id="site-header">
          <nav class="navbar site-navbar navbar-default">
              <div class="container">
                  <div class="navbar-header visible-xs">
                      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      </button>
                      <a class="navbar-brand" href="index.html"><img src="{{ asset('credo/img/logo.png') }}" width="150px" height="25px" class="img-responsive" alt="Logo"></a>
                  </div>
                  <div id="navbar" class="collapse navbar-collapse">
                      <ul class="nav navbar-nav navbar-right">
                          <li class="divider-vertical active"><a href="index.html">HOME</a></li>
                          <li class="divider-vertical dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">ABOUT US</a>
                            <ul class="dropdown-menu list-ab">
                              <li><a href="about-us.html">COMPANY HISTORY</a></li>
                              <li><a href="download.html">DOWNLOAD</a></li>
                            </ul>
                          </li>
                          <li class="divider-vertical"><a href="people-executive.html">PEOPLE</a></li>
                          <li class="divider-vertical dropdown mega-dropdown">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown">BUSINESS UNITS</a>
                              <ul class="dropdown-menu mega-dropdown-menu row">
                                  {% for category in categories %}
                                      {% if loop.index % 4 == 0 or loop.index == 1 %}
                                          <div class="row">
                                      {% endif %}
                                              <li class="col-sm-3">
                                                  <ul class="list-bu">
                                                        <li class="dropdown-header-dw">{{ category.category | upper }}</li>
                                                        {% for unite in category.unites %}
                                                            <li><a href="{{ path('unites_show', { 'id': unite.id }) }}">{{ unite.title | upper }}</a></li>
                                                        {% endfor %}
                                                  </ul>
                                              </li>
                                      {% if loop.index % 4 == 0 %}
                                          </div><hr />
                                      {% endif %}
                                  {% endfor %}
                              </ul>
                          </li>
                          <li class="divider-vertical"><a href="news-media.html">NEWS AND MEDIA</a></li>
                          <li class="divider-vertical"><a href="csr.html">CSR</a></li>
                          <li class="divider-vertical"><a href="{{ path('career_new') }}">CAREER</a></li>
                          <li class="divider-vertical"><a href="{{ path('contactus_new') }}">CONTACT US</a></li>
                      </ul>
                  </div>
                  <!--/.nav-collapse -->
                  <!--/.nav-collapse -->
              </div>
          </nav>
      </header>
        {% block body %}{% endblock %}
        <footer id="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                      <ul class="nav footer-nav list-unstyled">
                          <li class=""><a href="index.html">HOME</a></li>
                          <li class=""><a href="about-us.html">ABOUT US</a></li>
                          <li class=""><a href="people-executive.html">PEOPLE</a></li>
                          <li class="dropdown mega-dropdown">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown">BUSINESS UNITS</a>
                              <ul class="dropdown-menu mega-dropdown-menu row">
                                <div class="row col-sm-12">
                                  <li class="col-sm-3">
                                      <ul class="list-bu-dw"><br />
                                        <li class="dropdown-header-dw">PROPERTY</li>
                                        <li><a href="meli-yog.html">MELIA - YOGYAKARTA</a></li>
                                        <li><a href="meli-mas.html">MELIA - KUALA LUMPUR</a></li>
                                        <li><a href="aman.html">AMANDARI - BALI</a></li>
                                        <li><a href="the-statue.html">THE STATURE - JAKARTA</a></li>
                                        <li><a href="t8tower.html">SRI, T8TOWER - JAKARTA</a></li>
                                        <li><a href="kiara.html">KIARA RESIDENCE - BOGOR</a></li>
                                      </ul>
                                  </li>
                                  <li class="col-sm-3">
                                      <ul class="list-bu-dw"><br />
                                        <li class="dropdown-header-dw">HEALTH CARE</li>
                                        <li><a href="medis.html">MEDISTRA HOSPITAL</a></li>
                                      </ul>
                                  </li>
                                  <li class="col-sm-3">
                                      <ul class="list-bu-dw"><br />
                                        <li class="dropdown-header-dw">RETAIL</li><br />
                                        <li><a href="astri.html">ASTRINDO</a></li>
                                        <li><a href="laund.html">LAUNDRETTE</a></li>
                                        <li><a href="credo-boga.html">CREDO BOGA MAKMUR</a></li>
                                      </ul>
                                  </li>
                                  <li class="col-sm-3">
                                      <ul class="list-bu-dw"><br />
                                        <li class="dropdown-header-dw">ENERGY</li>
                                        <li><a href="vkc.html">VERDANTURA KALTIM COAL</a></li>
                                        <li><a href="kbe.html">KUTAI BARAT ENERGI</a></li>
                                      </ul>
                                  </li>
                                </div>
                                <div class="row col-sm-12">
                                  <li class="col-sm-3">
                                      <ul class="list-bu-dw"><br />
                                        <li class="dropdown-header-dw">SERVICES</li><br />
                                        <li><a href="shac.html">SHACMAN</a></li>
                                        <li><a href="alpolic.html">ALPOLIC</a></li>
                                        <li><a href="bcm.html">BANGUN CIPTA MAKMUR</a></li>
                                        <li><a href="ois.html">OPTIMA INTI SELARAS</a></li>
                                      </ul>
                                  </li>
                              </div>
                              </ul>
                          </li>
                          <li class=""><a href="news-media.html">NEWS AND MEDIA</a></li>
                          <li class=""><a href="csr.html">CSR</a></li>
                          <li class=""><a href="{{ path('career_new') }}">CAREER</a></li>
                          <li class=""><a href="contact-us.html">CONTACT US</a></li>
                      </ul>
                    </div>
                    <div class="col-md-4">
                    </div>
                </div>
            </div>
        </footer>
        <div class="developer">
            <div class="container">ALL RIGHTS RESERVED - CREDO GROUP©{{ "now"|date("Y") }}</div>
        </div>
        <!-- jQuery Version 1.11.1 -->
        <script src="{{ asset('credo/js/jquery.js') }}"></script>
        <!-- Bootstrap Core JavaScript -->
        <script src="{{ asset('credo/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('credo/js/owl-carousel/owl.carousel.js') }}"></script>
        <script type="text/javascript">
            $(document).ready(function() {
                var owl = $("#owl-demo");
                owl.owlCarousel({
                    items: 4, //10 items above 1000px browser width
                    itemsDesktop: [1000, 5], //5 items between 1000px and 901px
                    itemsDesktopSmall: [900, 3], // betweem 900px and 601px
                    itemsTablet: [600, 2], //2 items between 600 and 0
                    itemsMobile: false, // itemsMobile disabled - inherit from itemsTablet option
                    pagination: false,
                    navigation: true,
                    navigationText: [
                        "<i class='fa fa-angle-left fa-5x'><\/i>",
                        "<i class='fa fa-angle-right fa-5x'><\/i>"
                    ],
                    loop: true,
                    autoPlay: true,
                    autoPlayTimeout: 500,
                    autoPlayHoverPause: true
                });
                // Custom Navigation Events
                $(".next").click(function() {
                    owl.trigger('owl.next');
                })
                $(".prev").click(function() {
                    owl.trigger('owl.prev');
                })
                $(".play").click(function() {
                    owl.trigger('owl.play', 1000); //owl.play event accept autoPlay speed as second parameter
                })
                $(".stop").click(function() {
                    owl.trigger('owl.stop');
                })
            });
        </script>
    </body>
</html>
