<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="shortcut icon" type="image/png" href="{{ asset('credo/img/favicon.png') }}"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>CREDO GROUP</title>
        <!-- Bootstrap Core CSS -->
        <link href="{{ asset('credo/css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ asset('credo/css/font-awesome.min.css') }}" rel="stylesheet">
        <link rel="stylesheet" href="{{ asset('credo/css/owl-carousel/owl.carousel.css') }}">
        <link href="{{ asset('credo/css/styles.css') }}" rel="stylesheet">
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
      <div class="stripe"></div>
      <div class="top-header hidden-xs">
          <div class="container">
              <div class="row">
                  <div class="col-md-6">
                      <div class="logo">
                          <a href="{{ path('homepage') }}"><img src="{{ asset('credo/img/logo.png') }}" width="300px" height="70px" class="img-responsive" alt="Logo"></a>
                      </div>
                  </div>
                  <div class="col-md-6">
                      <div class="search_div pull-right">
                          <form name="form_search" id="form_search" method="get" action="{{ path('unites_search') }}">
                              <input placeholder="SEARCH HERE ..." class="txtsearch" name="search" id="txtsearch" value="" type="text">
                              <button type="submit" class="btn btn-search btn-danger"> <i class="fa fa-search"></i></button>
                          </form>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <!-- Navigation -->
      <header id="site-header">
          <nav class="navbar site-navbar navbar-default">
              <div class="container">
                  <div class="navbar-header visible-xs">
                      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      </button>
                      <a class="navbar-brand" href="index.html"><img src="{{ asset('credo/img/logo.png') }}" width="150px" height="25px" class="img-responsive" alt="Logo"></a>
                  </div>
                  <div id="navbar" class="collapse navbar-collapse">
                      <ul class="nav navbar-nav navbar-right">
                          <li class="divider-vertical"><a href="{{ path('homepage') }}">HOME</a></li>
                          <li class="divider-vertical dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">ABOUT US</a>
                            <ul class="dropdown-menu list-ab">
                              <li><a href="{{ path('aboutus_show_public', {'id': 4}) }}">COMPANY HISTORY</a></li>
                              <li><a href="{{ path('download_index_public') }}">DOWNLOAD</a></li>
                            </ul>
                          </li>
                          <li class="divider-vertical"><a href="{{ path('peoples_index_public') }}">PEOPLE</a></li>
                          <li class="divider-vertical dropdown mega-dropdown">
                              <a href="#" class="dropdown-toggle">BUSINESS UNITS</a>
                              <ul class="dropdown-menu mega-dropdown-menu row">
                                  {% for category in categories.categories %}
                                      {% if loop.index % 4 == 1 or loop.index == 1 %}
                                          <div class="row">
                                      {% endif %}
                                              <li class="col-sm-3">
                                                  <ul class="list-bu">
                                                      <li class="dropdown-header-dw"><a id="heading{{loop.index}}" data-toggle="collapse" data-parent="#accordion" href="#collapse{{loop.index}}" aria-expanded="true" aria-controls="collapse{{loop.index}}">{{ category.category | upper }}</a></li>
                                                      <div id="collapse{{loop.index}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading{{loop.index}}">
                                                        {% for unite in category.unites %}
                                                            <li><a href="{{ path('unites_show_public', { 'id': unite.id }) }}">{{ unite.title | upper }}</a></li>
                                                        {% endfor %}
                                                      </div>
                                                  </ul>
                                              </li>
                                      {% if loop.index % 4 == 0 or loop.index == categories.numData %}
                                          </div><hr />
                                      {% endif %}
                                  {% endfor %}
                              </ul>
                          </li>
                          <li class="divider-vertical"><a href="{{ path('news_index_public') }}">NEWS AND MEDIA</a></li>
                          <li class="divider-vertical"><a href="{{ path('csr_show_public', {'id': 3}) }}">CSR</a></li>
                          <li class="divider-vertical"><a href="{{ path('career_new') }}">CAREER</a></li>
                          <li class="divider-vertical"><a href="{{ path('contactus_new') }}">CONTACT US</a></li>
                      </ul>
                  </div>
                  <!--/.nav-collapse -->
                  <!--/.nav-collapse -->
              </div>
          </nav>
      </header>
        {% block body %}{% endblock %}
        <footer id="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                      <ul class="nav footer-nav list-unstyled">
                          <li class=""><a href="{{ path('homepage') }}">HOME</a></li>
                          <li class="divider-vertical dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">ABOUT US</a>
                            <ul class="dropdown-menu list-ab">
                              <li><a href="{{ path('aboutus_show_public', {'id': 4}) }}">COMPANY HISTORY</a></li>
                              <li><a href="{{ path('download_index_public') }}">DOWNLOAD</a></li>
                            </ul>
                          </li>
                          <li class=""><a href="{{ path('peoples_index_public') }}">PEOPLE</a></li>
                          <li class="dropdown mega-dropdown">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown">BUSINESS UNITS</a>
                              <ul class="dropdown-menu mega-dropdown-menu row">
                                {% for category in categories.categories %}
                                    {% if loop.index % 4 == 1 or loop.index == 1 %}
                                        <div class="row col-sm-12">
                                    {% endif %}
                                            <li class="col-sm-3">
                                              <ul class="list-bu-dw">
                                                  <li class="dropdown-header-dw">{{ category.category | upper }}</li><br />
                                                      {% for unite in category.unites %}
                                                          <li><a href="{{ path('unites_show_public', { 'id': unite.id }) }}">{{ unite.title | upper }}</a></li>
                                                      {% endfor %}
                                              </ul>
                                            </li>
                                    {% if loop.index % 4 == 0  or loop.index == categories.numData %}
                                        </div>
                                    {% endif %}
                                {% endfor %}
                              </ul>
                          </li>
                          <li class=""><a href="{{ path('news_index_public') }}">NEWS AND MEDIA</a></li>
                          <li class=""><a href="{{ path('csr_show_public', {'id': 3}) }}">CSR</a></li>
                          <li class=""><a href="{{ path('career_new') }}">CAREER</a></li>
                          <li class=""><a href="{{ path('contactus_new') }}">CONTACT US</a></li>
                      </ul>
                    </div>
                </div>
            </div>
        </footer>
        <div class="developer">
            <div class="container">ALL RIGHTS RESERVED - <a href="http://www.credogroup.co.id/webapps/webmail2" target="_blank">CREDO GROUP</a>©{{ "now"|date("Y") }}</div>
        </div>
        <!-- jQuery Version 1.11.1 -->
        <script src="{{ asset('credo/js/jquery.js') }}"></script>
        <!-- Bootstrap Core JavaScript -->
        <script src="{{ asset('credo/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('credo/js/owl-carousel/owl.carousel.js') }}"></script>
        <script type="text/javascript">
          $('li.divider-vertical.dropdown.mega-dropdown a').on('click', function (event) {
            $(this).parent().toggleClass("open");
          });
          $('body').on('click', function (e) {
              if (!$('li.divider-vertical.dropdown.mega-dropdown').is(e.target)
                  && $('li.divider-vertical.dropdown.mega-dropdown').has(e.target).length === 0
                  && $('.open').has(e.target).length === 0
              ) {
                  $('li.divider-vertical.dropdown.mega-dropdown').removeClass('open');
              }
          });
        </script>
        <script type="text/javascript">
            $(document).ready(function() {
                var owl = $("#owl-demo");
                owl.owlCarousel({
                    items: 4, //10 items above 1000px browser width
                    itemsDesktop: [1000, 5], //5 items between 1000px and 901px
                    itemsDesktopSmall: [900, 3], // betweem 900px and 601px
                    itemsTablet: [600, 2], //2 items between 600 and 0
                    itemsMobile: false, // itemsMobile disabled - inherit from itemsTablet option
                    pagination: false,
                    navigation: true,
                    navigationText: [
                        "<i class='fa fa-angle-left fa-5x'><\/i>",
                        "<i class='fa fa-angle-right fa-5x'><\/i>"
                    ],
                    loop: true,
                    autoPlay: true,
                    autoPlayTimeout: 500,
                    autoPlayHoverPause: true
                });
                // Custom Navigation Events
                $(".next").click(function() {
                    owl.trigger('owl.next');
                })
                $(".prev").click(function() {
                    owl.trigger('owl.prev');
                })
                $(".play").click(function() {
                    owl.trigger('owl.play', 1000); //owl.play event accept autoPlay speed as second parameter
                })
                $(".stop").click(function() {
                    owl.trigger('owl.stop');
                })
            });
        </script>
    </body>
</html>
