{% extends 'base.html.twig' %}

{% block body %}

<!-- /.container -->
<section id="career-home">
  <p>
    TOGETHER WE CAN CHANGE HOW THE WORLD DOES BUSINESS<br>
    HOW THE WORLD DOES BUSINESS
  </p>
</section>
<section id="business-units">
  <div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div id="owl-demo" class="owl-carousel owl-theme">
            {% for n in [1,2,3,4,5,6,7,8,9] %}
                <div class="item logo-list">
                    <img src="{{ asset('web/credo/img/unite.png') }}">
                </div>
            {% endfor %}
            </div>
        </div>
    </div>
  </div>
</section>
<section class="about-us-home">
  <p class="title-about">ABOUT US</p>
  <p class="sub-title-about">Unde omnis iste natus error sit voluptatem</p>
  <p class="content-about">
    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem
  </p>
</section>

<section class="home-business">
  <p class="title-business">BUSINESS</p>
  <div class="row business-row">
    <div class="col-sm-4 white-business" style="background-image: url({{ asset('web/credo/img/news3.jpeg') }})">
      <h4>Nemo enim ipsam voluptatem quia voluptas sit </h4>
    </div>
    <div class="col-sm-4 white-business" style="background-image: url({{ asset('web/credo/img/news3.jpeg') }})">
      <h4>Nemo enim ipsam voluptatem quia voluptas sit </h4>
    </div>
    <div class="col-sm-4 white-business" style="background-image: url({{ asset('web/credo/img/news3.jpeg') }})">
      <h4>Nemo enim ipsam voluptatem quia voluptas sit </h4>
    </div>
  </div>
  <div class="row business-row">
    <div class="col-sm-4 white-business" style="background-image: url({{ asset('web/credo/img/news3.jpeg') }})">
      <h4>Nemo enim ipsam voluptatem quia voluptas sit </h4>
    </div>
    <div class="col-sm-4 white-business" style="background-image: url({{ asset('web/credo/img/news3.jpeg') }})">
      <h4>Nemo enim ipsam voluptatem quia voluptas sit </h4>
    </div>
    <div class="col-sm-4 white-business" style="background-image: url({{ asset('web/credo/img/news3.jpeg') }})">
      <h4>Nemo enim ipsam voluptatem quia voluptas sit </h4>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4 white-business" style="background-image: url({{ asset('web/credo/img/news3.jpeg') }})">
      <h4>Nemo enim ipsam voluptatem quia voluptas sit </h4>
    </div>
    <div class="col-sm-4 white-business" style="background-image: url({{ asset('web/credo/img/news3.jpeg') }})">
      <h4>Nemo enim ipsam voluptatem quia voluptas sit </h4>
    </div>
    <div class="col-sm-4 white-business" style="background-image: url({{ asset('web/credo/img/news3.jpeg') }})">
      <h4>Nemo enim ipsam voluptatem quia voluptas sit </h4>
    </div>
  </div>
</section>
{% endblock %}
