{% extends 'base.html.twig' %}

{% block body %}

<!-- /.container -->
<section id="career-home">
  <p>
    TOGETHER WE CAN CHANGE HOW THE WORLD DOES BUSINESS<br>
    HOW THE WORLD DOES BUSINESS
  </p>
</section>
<section id="business-units">
  <div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div id="owl-demo" class="owl-carousel owl-theme">
            {% for n in logos %}
                <div class="item logo-list">
                    <img src="{{ asset('web/uploads/logo/') }}{{ n.largeImage }}">
                </div>
            {% endfor %}
            </div>
        </div>
    </div>
  </div>
</section>
<section class="about-us-home">
  <p class="title-about">ABOUT US</p>
  <div class="sub-title-about">{{ abouts[0].preword | raw }}</div>
  <div class="content-about">
    {{ abouts[0].story | raw }}
  </div>
</section>

<section class="home-business unites-container">
  <p class="title-business">BUSINESS</p>
    {% for u in unites %}
        <div class="col-sm-4 white-business" style="margin-bottom: 50px;background-image: url({{ asset('web/uploads/unites/') }}{{ u.largeImage }})">
        <h4>{{ u.title }}</h4>
      </div>
    {% endfor %}
</section>
<section class="home-business">
  <p class="title-business">NEWS AND MEDIA</p>
  <div id="carousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
          <li data-target="#carousel" data-slide-to="0" class="active"></li>
          {% for image in slides %}
              <li data-target="#carousel" data-slide-to="{{ loop.index }}"></li>
          {% endfor %}
      </ol>
      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        {% for image in slides %}
          {% if loop.index == 1 %}
            <div class="item active slider-background" style="background-image: url({{ asset('web/uploads/slide/') }}{{ image.largeImage }})">
          {% else %}
            <div class="item slider-background" style="background-image: url({{ asset('web/uploads/slide/') }}{{ image.largeImage }})">
          {% endif %}
            </div>
        {% endfor %}
      </div>
      <a class="left carousel-control" href="#carousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#carousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
      </a>
  </div>
</section>
<section id="philosphi-home">
  <h6>OUR PHILOSOPHI</h6>
  <p class="content-pilo">
    We empower our clients.<br>
    We offer you transparent, reliable, and comparable information to do your due diligence.
    The perfect engagement ring does not already exist in a display. It should be custom made
    with you, for you.
  </p>
</section>
{% endblock %}
