{% extends 'baseAdmin.html.twig' %}

{% block body %}
    <h1>Vision list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Vision</th>
                <th>Largeimage</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for vision in visions %}
            <tr>
                <td><a href="{{ path('vision_show', { 'id': vision.id }) }}">{{ vision.id }}</a></td>
                <td>{{ vision.title }}</td>
                <td>{{ vision.vision }}</td>
                <td>{{ vision.largeImage }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('vision_show', { 'id': vision.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('vision_edit', { 'id': vision.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('vision_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
