{% extends 'base.html.twig' %}

{% block body %}
    <h1>Unites list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Story</th>
                <th>Largeimage</th>
                <th>Smallimage</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for unite in unites %}
            <tr>
                <td><a href="{{ path('unites_show', { 'id': unite.id }) }}">{{ unite.id }}</a></td>
                <td>{{ unite.title }}</td>
                <td>{{ unite.story }}</td>
                <td>{{ unite.largeImage }}</td>
                <td>{{ unite.smallImage }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('unites_show', { 'id': unite.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('unites_edit', { 'id': unite.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('unites_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
