{% extends 'base.html.twig' %}

{% block body %}
    <h1>Career</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ career.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ career.title }}</td>
            </tr>
            <tr>
                <th>Decsription</th>
                <td>{{ career.decsription }}</td>
            </tr>
            <tr>
                <th>Largeimage</th>
                <td>{{ career.largeImage }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('career_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('career_edit', { 'id': career.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
