{% extends 'baseAdmin.html.twig' %}

{% block body %}
    <h1>History list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Story</th>
                <th>Largeimage</th>
                <th>Smallimage</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for history in histories %}
            <tr>
                <td><a href="{{ path('history_show', { 'id': history.id }) }}">{{ history.id }}</a></td>
                <td>{{ history.title }}</td>
                <td>{{ history.story }}</td>
                <td>{{ history.largeImage }}</td>
                <td>{{ history.smallImage }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('history_show', { 'id': history.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('history_edit', { 'id': history.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('history_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
