{% extends 'baseAdmin.html.twig' %}

{% block body %}
    <h1>Whoweare list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Whoweare</th>
                <th>Largeimage</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for whoweare in whoweares %}
            <tr>
                <td><a href="{{ path('whoweare_show', { 'id': whoweare.id }) }}">{{ whoweare.id }}</a></td>
                <td>{{ whoweare.title }}</td>
                <td>{{ whoweare.whoweare }}</td>
                <td>{{ whoweare.largeImage }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('whoweare_show', { 'id': whoweare.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('whoweare_edit', { 'id': whoweare.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('whoweare_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
