{% extends 'base.html.twig' %}

{% block body %}
    <h1>Whoweare</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ whoweare.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ whoweare.title }}</td>
            </tr>
            <tr>
                <th>Whoweare</th>
                <td>{{ whoweare.whoweare }}</td>
            </tr>
            <tr>
                <th>Largeimage</th>
                <td>{{ whoweare.largeImage }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('whoweare_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('whoweare_edit', { 'id': whoweare.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
